* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
    font-size: 72px;
    margin-top: 60px;
    text-align: center;
}

h1 span {
    color: #9747FF;
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
    font-size: 64px;
    margin-top: 60px;    
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}   

a {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    text-align: center;
    line-height: 66px;
    display: block;
    width: 340px;
    height: 66px;
    border-radius: 33px;
    border: transparent;
    margin: 40px auto;
}

a:hover {
    background-color: #8233E8;
}

section img{
    display: block;
    width: 792px;
    height: 846px;
    margin: 0 auto; 
}

@media(max-width:768px) {

    header img {
        margin: 65px 0 0 60px; 
    }

    p {
        width: 468px;
    }


}

@media(max-width:378px) {

    header img {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px;
    }

    h1 span {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 340px;
    }

    section img {
        width: 340px;
        height: 230px;
    }

    a {
        font-size: 20px;
        width: 241px;
    }
}